DB_PORT=5432
DB_NAME=mydb
DB_USERNAME=user
DB_PASSWORD=pass
BACKEND_PORT=5000
BACKEND_PORT=5000
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=vibes_admin
MINIO_ROOT_PASSWORD=vibes_super_secret
MINIO_BUCKET_NAME=vibes-storage